export API_PORT=""
export API_WORKERS=""

export MANDATOABERTO_URL=""
export MANDATOABERTO_HTTP_CB_URL=""
export FB_API_URL=""

export POSTGRESQL_HOST=""
export POSTGRESQL_PORT=""
export POSTGRESQL_DBNAME=""
export POSTGRESQL_USER=""
export POSTGRESQL_PASSWORD=""

export SMTP_SERVER=""
export SMTP_PORT=""
export SMTP_USERNAME=""
export SMTP_PASSWORD=""

export PRIVATE_REPLY_MESSAGE=""

export CHATBOT_SECURITY_TOKEN=""

export VOTOLEGAL_FRONT_URL=""
export VOTOLEGAL_API_URL=""
export VOTOLEGAL_SECURITY_TOKEN=""

export MANDATOABERTO_BASE_AMOUNT=""

export AMAZON_S3_ACCESS_KEY=""
export AMAZON_S3_SECRET_KEY=""
export AMAZON_S3_MEDIA_BUCKET=""

export DIALOGFLOW_PROJECT_NAME=""
export DIALOGFLOW_URL=""
export DIALOGFLOW_DEVELOPER_ACCESS_TOKEN=""
export GOOGLE_APPLICATION_CREDENTIALS=""

export SHOW_QUESTION_NAME=""