export API_PORT=""
export API_WORKERS=""

export MANDATOABERTO_URL=""
export FB_API_URL=""

export POSTGRESQL_HOST="localhost"
export POSTGRESQL_PORT="5432"
export POSTGRESQL_DBNAME="mandatoaberto_dev"
export POSTGRESQL_USER="postgres"
export POSTGRESQL_PASSWORD="trust"

export SMTP_SERVER=""
export SMTP_PORT=""
export SMTP_USERNAME=""
export SMTP_PASSWORD=""
